.content-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.navbar-box {
    position: absolute;
    display: flex;
    gap: 1rem;
    top: 1.25rem;
    right: 1.5rem;
    z-index: 1;
}

.navbar-box.displaced-right {
    right: calc(1.5rem + 42rem);
}

.map-box {
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    z-index: 0;
}

/* .map-box.opened-panel {
    left: 38rem;
} */

/* .map-box.opened-details {
    right: 40rem;
} */

@media (max-width: 1080px) {
    .map-box.opened-panel {
        left: 0rem;
    }
}