.marker-body {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
}

.marker-body:hover {
    background-color: darkred;
}

.marker-body.selected {
    background-color: green;
}

.marker-body.selected:hover {
    background-color: darkgreen;
}