.event-menu {
    position: absolute;
    top: 0;
    max-height: 100vh;
    width: 39rem;
    padding: .7rem;
    background-color: var(--primary-background-color);
    /* background-color: var(--secondary-background-color); */
    overflow-y: scroll;
    box-shadow: 
        0 1px 1px rgba(124, 123, 123, 0.3), 
        0 1px 5px 4px rgba(124, 123, 123, 0.15);
    z-index: 999;
}

.event-menu::-webkit-scrollbar {
    display: none;
}

.event-menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.event-menu-listlink {
    width: 100%;
    height: 25rem;
    border: 1px solid var(--transparent-dark-color);
    /* border-top: 2px solid var(--primary-background-color);
    border-bottom: 2px solid var(--primary-background-color); */
    /* box-shadow:
        0 2px 2px rgba(124, 123, 123, 0.3),
        0 2px 2px 2px rgba(124, 123, 123, 0.15); */
}

.search-form {
    display: flex;
    /* gap: var(--gap); */
}

.form-input,
.form-btn {
    /* border: 2px solid var(--secondary-background-color); */
    padding: 1rem;
    /* color: var(--light-color-alt); */
}

.form-input {
    width: 100%;
    background-color: var(--primary-background-color);
}

.form-btn {
    background-color: var(--secondary-background-color);
    border-right: none;
    text-transform: uppercase;
    width: 6rem;
}

.form-btn > i {
    margin-left: 3px;
}

.search-events-container {
    margin: -.7rem;
    border: 2px solid var(--secondary-background-color);
    position: fixed;
    width: inherit;
    z-index: 999;
}

.event-listlink>img {
    height: 100%;
    width: 100%;
}

.events-container {
    padding-top: 5.5rem;
}

.events-container>.list {
    flex-direction: column;
    gap: .7rem;
}

.list {
    display: flex;
    align-items: center;
    gap: var(--gap);
}

.article {
    position: relative;
    min-height: var(--item-min-height-sm);
}

.article-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
}

.article-category {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    background-color: var(--primary-background-color);
    font-size: 1rem;
    color: var(--light-color);
    text-transform: uppercase;
    z-index: 10;
}

.article-data-container {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 1.5rem 1rem;
    background-color: var(--transparent-dark-color);
    z-index: 10;
    transition: background-color .5s;
}

.article-data {
    display: flex;
    align-items: center;
    gap: var(--gap);
    font-size: var(--font-size-xsm);
    margin-bottom: 1rem;
}

.article-data-spacer {
    width: .5rem;
    height: .5rem;
    background-color: var(--light-color-alt);
    transform: rotate(45deg);
}

.article-title {
    font-size: var(--font-size-sm);
}

.article:hover {
    cursor: pointer;
}

.article:hover .article-data-container {
    background-color: var(--hover-dark-color);
    color: var(--hover-light-color);
}

.article:hover .article-data-spacer {
    background-color: var(--hover-light-color);
}

.article:hover .article-title {
    color: var(--hover-light-color);
}