.btn {
    cursor: pointer;
}

.btn:hover,
.btn:hover span {
    color: var(--light-color);
}

.title {
    color: var(--light-color);
}

.shadowed {
    box-shadow:
        0 1px 2px rgba(100, 100, 100, 0.3),
        0 1px 6px 3px rgba(100, 100, 100, 0.15);
}

.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

.place-items-center {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.screen-sm-hidden {
    display: none;
}